div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
.ligne_verticale
{   
	position: absolute;
	top:83px;
    width:5px;
	left:105px;
    border-left:1px solid gray;
	border-color:#E5E9EB;
    height:1350px;
	
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#test
{
   background-color: #888685;
   -moz-box-shadow: 0px 0px 2px #303030;
   -webkit-box-shadow: 0px 0px 2px #303030;
   box-shadow: 0px 0px 2px #303030;
   filter: alpha(opacity=80);
   opacity: 0.80;
}
#test
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#test
{
   background-color: transparent;
}
#test 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#test div
{
   text-align: left;
}
#test 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#test div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#test
{
   background-color: transparent;
}
#TextArea1
{
   border: 1px #1E90FF solid;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   resize: none;
}
#test
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#test
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#test 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#test div
{
   text-align: left;
}
#test 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#test div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#Layer3
{
   background-color: transparent;
}
#Layer5
{
   background-color: transparent;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   left:20px;
   top: 10;
   
       width: 100%;
    height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
    left: 0;
   top: 10px;
       margin-left: 30px;
    width: 40px;
    padding-left: 20px;
   
   
}
#Image10
{
   border: 0px #000000 solid;
    left: 0;
   top: 10px;
       margin-left: 30px;
    width: 40px;
    padding-left: 5px;
    
   
}
#Image11
{
   border: 0px #000000 solid;
  
   left: 0;
   
       margin-left: 30px;
    width: 40px;
    padding-left: 20px;
    padding-top: 0px;
}
#Image12
{
   border: 0px #000000 solid;
   left: 0;
    
   top: 10px;
       margin-left: 30px;
    width: 40px;
    padding-left: 5px;
    
   
}
#Image13
{
   border: 0px #000000 solid;
   left:30px;
   top: 10px;
      margin-left: 30px;
    width: 40px;
    padding-left: 20px;
    padding-top: 10px;
   
   
}
#Image14
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
          width: 100%;
    height: 100%;
}
#Image15
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26{
      position: absolute;
    left: 17%;
    top: 7%;
    width: 34%;
    height: 9%;
    z-index: 36;
    text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_Text20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#Layer4
{
   background-color: transparent;
   background-image: url(../images/latter.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Button1
{

   border:none;
   background-color: transparent;
   color: #4EB0CA;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
      

}

#TextArea2
{
   border: 2px #fff solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: transparent;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   resize: none;
}
#PageFooter1
{
   background-color: #FAFAFA;
}
#wb_Text19
{
   position: absolute;
   left: 17%;
   top: 44%;
   width: 34%;
   height: 1%;
   z-index: 40;
   text-align: left;
}
#wb_Image10
{
   position: absolute;
   left: 6%;
   top: 60%;
   width: 4%;
   height: 4%;
   z-index: 30;
}
#test
{
   position: absolute;
   left: 440px;
   top: 32px;
   width: 78px;
   height: 16px;
   z-index: 3;
   text-align: left;
}
#wb_Image11
{
   position: absolute;
   left: 4%;
   top: 22%;
   width: 7%;
   height: 3%;
   z-index: 29;
}
#test
{
   position: absolute;
   left: 334px;
   top: 32px;
   width: 78px;
   height: 16px;
   z-index: 7;
   text-align: left;
}
#wb_Image12
{
   position: absolute;
   left: 6%;
   top: 41%;
   width: 6%;
   height: 3%;
   z-index: 28;
}
#test
{
   position: absolute;
   left: 548px;
   top: 35px;
   width: 78px;
   height: 16px;
   z-index: 8;
   text-align: left;
}
#test
{
   position: absolute;
   left: 13px;
   top: 24px;
   width: 179px;
   height: 33px;
   z-index: 9;
}
#wb_Image13
{
   position: absolute;
   left: 5%;
   top: 2%;
   width: 8%;
   height: 4%;
   z-index: 27;
}
#test
{
   position: absolute;
   left: 163px;
   top: 7px;
   width: 20px;
   height: 18px;
   z-index: 1;
}
#test
{
   position: absolute;
   left: 215px;
   top: 32px;
   width: 90px;
   height: 16px;
   z-index: 4;
   text-align: left;
}
#test
{
   position: absolute;
   text-align: left;
   left: 141px;
   top: 0px;
   width: 950px;
   height: 70px;
   z-index: 10;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image14
{
   position: absolute;
   left: 67%;
   top: 7%;
   width: 25%;
   height: 9%;
   z-index: 23;
}
#test
{
   position: absolute;
   left: 191px;
   top: 7px;
   width: 17px;
   height: 18px;
   z-index: 2;
}
#test
{
   position: absolute;
   text-align: left;
   left: 708px;
   top: 18px;
   width: 212px;
   height: 33px;
   z-index: 6;
}
#wb_Text5
{
   position: absolute;
   left: 120px;
   top: 32px;
   width: 66px;
   height: 16px;
   z-index: 5;
   text-align: left;
}
#wb_Image15
{
   position: absolute;
   left: 57%;
   top: 26%;
   
   z-index: 24;
}
#wb_Image4
{
   position: absolute;
   left: 99px;
   top: 95px;
   width: 17px;
   height: 16px;
   z-index: 61;
}
#wb_Text6
{
   position: absolute;
   left: 105px;
   top: 0px;
   width: 204px;
   height: 23px;
   z-index: 59;
   text-align: left;
}
#TextArea1
{
   position: absolute;
   left: 4px;
   top: 5px;
   width: 179px;
   height: 19px;
   z-index: 0;
}
#Layer3
{
   position: absolute;
   text-align: left;
   left: 7%;
   top: 155px;
   width: 836px;
   height: 1545px;
   z-index: 64;
}
#wb_Text7
{
   position: absolute;
   left: 78px;
   top: 43px;
   width: 266px;
   height: 16px;
   z-index: 60;
   text-align: left;
}
#TextArea2
{
   position: absolute;
   left: 46%;
   top: 41%;
   width: 36%;
   height: 13%;
   z-index: 54;
}
#Layer4
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 1731px;
   width: 100%;
   height: 198px;
   z-index: 65;
}
#wb_Text20
{
   position: absolute;
   left: 17%;
   top: 45%;
   width: 34%;
   height: 9%;
   z-index: 41;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 65%;
   top: 45%;
   width: 25%;
   height: 8%;
   z-index: 25;
}
#wb_Text10
{
   position: absolute;
   left: 116px;
   top: 95px;
   width: 183px;
   height: 16px;
   z-index: 58;
   text-align: left;
}
#wb_Text8
{
   position: absolute;
   left: 116px;
   top: 69px;
   width: 191px;
   height: 16px;
   z-index: 57;
   text-align: left;
}
#Layer5
{
   position: absolute;
   text-align: left;
   left: 339px;
   top: 21px;
   width: 413px;
   height: 146px;
   z-index: 62;
}
#wb_Text21
{
   position: absolute;
   left: 17%;
   top: 60%;
   width: 13%;
   height: 1%;
   z-index: 42;
   text-align: left;
}
#wb_Image6
{
   position: absolute;
   left: 55%;
   top: 64%;
   width: 25%;
   height: 8%;
   z-index: 26;
}
#wb_Text9
{
   position: absolute;
   left: 148px;
   top: 127px;
   width: 126px;
   height: 16px;
   z-index: 56;
   text-align: left;
}
#wb_Text22
{
   position: absolute;
   left: 17%;
   top: 63%;
   width: 34%;
   height: 1%;
   z-index: 43;
   text-align: left;
}
#wb_Image7
{
   position: absolute;
   left: 67%;
   top: 83%;
   width: 25%;
   height: 7%;
   z-index: 35;
}
#wb_Text11
{
   position: absolute;
   left: 295px;
   top: 126px;
   width: 380px;
   height: 19px;
   z-index: 63;
   text-align: left;
}
#test
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 73px;
   z-index: 7777;
}
#wb_Text23
{
   position: absolute;
   left: 17%;
   top: 64%;
   width: 34%;
   height: 9%;
   z-index: 44;
   text-align: left;
}
#wb_Text12
{
   position: absolute;
   left: 17%;
   top: 79%;
   width: 13%;
   height: 1%;
   z-index: 32;
   text-align: left;
}
#wb_Text24
{
   position: absolute;
   left: 17%;
   top: 3%;
   width: 13%;
   height: 1%;
   z-index: 46;
   text-align: left;
}
#wb_Text13
{
   position: absolute;
   left: 17%;
   top: 83%;
   width: 34%;
   height: 1%;
   z-index: 33;
   text-align: left;
}
#wb_Image9
{
   position: absolute;
   left: 4%;
   top: 79%;
   width: 6%;
   height: 2%;
   z-index: 31;
}
#wb_Text32
{
	   position: relative;
   left: 25%;
    top: 93px;
   width: 34%;
   height: 1%;
   z-index: 33;
   text-align: left;
  opacity:0.5;
}
#wb_Text25
{
   position: absolute;
   left: 17%;
   top: 6%;
   width: 34%;
   height: 1%;
   z-index: 47;
   text-align: left;
}
#wb_Text14
{
   position: absolute;
   left: 17%;
   top: 84%;
   width: 34%;
   height: 9%;
   z-index: 34;
   text-align: left;
}
#PageFooter1
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 1929px;
   width: 100%;
   height: 182px;
   z-index: 66;
}
#Button1
{ border:none;
   position: absolute;
   left: 77%;
   top: 33%;
 
   z-index: 55;
}
}
#wb_Text26
{
   position: absolute;
   left: 17%;
   top: 7%;
   width: 34%;
   height: 9%;
   z-index: 45;
   text-align: left;
}
#wb_Text15
{
   position: absolute;
   left: 17%;
   top: 22%;
   width: 13%;
   height: 1%;
   z-index: 38;
   text-align: left;
}
#PageFooter1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text16
{
   position: absolute;
   left: 17%;
   top: 24%;
   width: 34%;
   height: 1%;
   z-index: 37;
   text-align: left;
}
#wb_Text17
{
   position: absolute;
   left: 17%;
   top: 25%;
   width: 34%;
   height: 9%;
   z-index: 36;
   text-align: left;
}
#wb_Text18
{
   position: absolute;
   left: 17%;
   top: 41%;
   width: 13%;
   height: 1%;
   z-index: 39;
   text-align: left;
}
@media only screen and (max-width: 400px)
{
div#container
{
   width: 400px;
}
#test
{
   left: 0px;
   top: 0px;
   height: 73px;
   visibility: visible;
   display: inline;
}
#test
{
   width: 100%;
}
#PageHeader1_Container
{
   width: 400px;
}
#test
{
   left: 13px;
   top: 24px;
   width: 179px;
   height: 33px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 141px;
   top: 0px;
   width: 950px;
   height: 70px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 440px;
   top: 32px;
   width: 78px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 215px;
   top: 32px;
   width: 90px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   left: 120px;
   top: 32px;
   width: 66px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 708px;
   top: 18px;
   width: 212px;
   height: 33px;
   visibility: visible;
   display: inline;
}
#TextArea1
{
   left: 4px;
   top: 5px;
   width: 179px;
   height: 19px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 163px;
   top: 7px;
   width: 20px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 191px;
   top: 7px;
   width: 17px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 334px;
   top: 32px;
   width: 78px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#test
{
   left: 548px;
   top: 35px;
   width: 78px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   left: 10px;
   top: 110px;
   width: 380px;
   height: 19px;
   visibility: visible;
   display: inline;
}
#Layer3
{
   left: 0px;
   top: 157px;
   width: 836px;
   height: 1545px;
   visibility: visible;
   display: inline;
}
#Layer3
{
   left: 0%;
}
#Layer5
{
   left: 339px;
   top: 21px;
   width: 413px;
   height: 146px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   left: 148px;
   top: 127px;
   width: 126px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   left: 116px;
   top: 69px;
   width: 191px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   left: 116px;
   top: 95px;
   width: 183px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 105px;
   top: 0px;
   width: 204px;
   height: 23px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   left: 78px;
   top: 43px;
   width: 266px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 99px;
   top: 95px;
   width: 17px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 65%;
   top: 45%;
   width: 25%;
   height: 8%;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 55%;
   top: 64%;
   width: 25%;
   height: 8%;
   visibility: visible;
   display: inline;
}
#wb_Image7
{
   left: 67%;
   top: 83%;
   width: 25%;
   height: 7%;
}
#wb_Image9
{
   left: 5%;
   top: 79%;
   width: 6%;
   height: 2%;
   visibility: visible;
   display: inline;
}
#wb_Image10
{
   left: 5%;
   top: 60%;
   width: 4%;
   height: 4%;
   visibility: visible;
   display: inline;
}
#wb_Image11
{
   left: 5%;
   top: 22%;
   width: 7%;
   height: 3%;
   visibility: visible;
   display: inline;
}
#wb_Image12
{
   left: 5%;
   top: 41%;
   width: 6%;
   height: 3%;
   visibility: visible;
   display: inline;
}

#wb_Image13
{
   left: 5%;
   top: 2%;
   width: 8%;
   height: 4%;
   visibility: visible;
   display: inline;
}
#wb_Image14
{
   left: 67%;
   top: 7%;
   width: 25%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Image15
{
   left: 57%;
   top: 26%;
   width: 25%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Text12
{
   left: 17%;
   top: 79%;
   width: 13%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text13
{
   left: 17%;
   top: 83%;
   width: 34%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text14
{
   left: 17%;
   top: 84%;
   width: 34%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Text15
{
   left: 17%;
   top: 22%;
   width: 13%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text16
{
   left: 17%;
   top: 24%;
   width: 34%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text17
{
   left: 17%;
   top: 25%;
   width: 34%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Text18
{
   left: 17%;
   top: 41%;
   width: 13%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text19
{
   left: 17%;
   top: 44%;
   width: 34%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text20
{
   left: 17%;
   top: 45%;
   width: 34%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Text21
{
   left: 17%;
   top: 60%;
   width: 13%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text22
{
   left: 17%;
   top: 63%;
   width: 34%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text23
{
   left: 17%;
   top: 64%;
   width: 34%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_Text24
{
   left: 17%;
   top: 3%;
   width: 13%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text25
{
   left: 17%;
   top: 5%;
   width: 34%;
   height: 1%;
   visibility: visible;
   display: inline;
}
#wb_Text26
{
   left: 17%;
   top: 7%;
   width: 34%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#Layer4
{
   left: 0px;
   top: 1731px;
   height: 198px;
   visibility: visible;
   display: inline;
}
#Layer4
{
   width: 242%;
}
#Button1
{
	
   left: 66%;
   top: 61%;
   width: 16%;
   height: 12%;
   visibility: visible;
   display: inline;
}
#TextArea2
{
   left: 46%;
   top: 41%;
   width: 36%;
   height: 13%;
   visibility: visible;
   display: inline;
}
#PageFooter1
{
   left: 0px;
   top: 1929px;
   height: 182px;
   visibility: visible;
   display: inline;
}
#PageFooter1
{
   width: 100%;
}
#PageFooter1_Container
{
   width: 400px;
}
}
